// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$green : #4fad2f;
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
}
.container{
  position:relative;
}

#btn_submit{
  margin-top:25px;
}

@import "grid.scss";
@import "public.scss";
@import "admin.scss";
@import "login.scss";