// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
}
.container{
  position:relative;
}
.donate{
  padding-bottom:25px;
}
.donate-overlay{
  position:absolute;
  width:100%;
  .donate-box{
    float:left;
    position:relative;
    width:1%;
    /*
    width: -moz-calc(1% - 1px);
    width: -webkit-calc(1% - 1px);
    width: -o-calc(1% - 1px);
    width: calc(1% - 1px);
    */
    height:10px;
    background-color: rgba(0,0,0,0);
    border-right:1px solid #ddd;
    border-top:1px solid #ddd;
    &:hover{
      cursor:pointer;
    }
  }
}
.user{
  .donate-box{
    &:hover,
    &.chosen{
      background-color: rgba(0,0,0,1);
      border-right:1px solid transparent;
      border-top:1px solid transparent;
    }
    &.chosen:after{
      /* Checkbox
      content: '';
      display: block;
   
      width: 3px;
      height: 6px;
   
      border: solid #00FF66;
      border-width: 0 2px 2px 0;
   
      transform: rotate(45deg);
      */
    }
    &.taken{
      background-color: rgba(0,0,0,0.35);
      &:hover{
        cursor: default;
        border-right:1px solid #ddd;
        border-top:1px solid #ddd;
      }
    }
    &.invisible,
    &.invisible:hover{
      cursor: default;
      background-color: rgba(0,0,0,0);
      border-right: 1px transparent solid;
      border-top: 1px transparent solid;
    }
  }
}
.admin{
  .donate-container{
    position:relative;
  }
  .donate-box{
    &:hover{
      background-color: rgba(0,0,0,0);
      border-right:1px solid transparent;
      border-top:1px solid transparent;
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "\274c"; 
        font-size: 10px; 
        color: #FF3300;
        line-height: 6px;
        text-align: center;
      }
    }
    &.chosen,
    &.invisible{
      background-color: rgba(0,0,0,0);
      &:hover{
        &:after {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          content: "\274c"; 
          font-size: 10px; 
          color: #AAA;
          line-height: 6px;
          text-align: center;
        }
      }
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "\274c"; 
        font-size: 10px; 
        color: #FF9900;
        line-height: 6px;
        text-align: center;
      }
    }
  }
}
input.form-control-inline{
  width:125px;
  font-size:2.6rem;
}
input[type=number]{
  text-align:center;
}
.file-field{
  display: inline-block;
}
.thumbnail{
  width:200px;
  height:150px;
  &.left{
    margin-right: 15px;
  }
}