/* Static overwrites because divs need to have a height in integers */
.donate-container {
  position:relative;
  margin: 0 auto;
  width: 320px;
  /* image 320 x 150 */
  max-width: 1280px;
}

@media only screen and (min-width : 480px)  {
  .donate-container {
    width: 480px;
    /* image 480 x 225 */
  }
}
@media only screen and (min-width : 640px)  {
  .donate-container {
    width: 640px;
    /* image 640 x 300 */
  }
}
@media only screen and (min-width : 993px)  {
  .donate-container {
    width: 960px;
    /* image 960 x 450 */
  }
}
@media only screen and (min-width : 1201px) {
  .donate-container {
    width: 1280px;
    /* image 1280 x 600 */
  }
}

.container-full{
  position:relative;
  width: 2000px;
}

[v-cloak] { display: none !important; }
.donate-box{
  background-size:cover;
  background-repeat:no-repeat;
  background-position:50% 0;
  &.preload{
    opacity: 0;
  }
}
.donate-overlay{
  position:absolute;
  width:100%;
  .donate-box{
    float:left;
    position:relative;
    width:1%;
    /*
    width: -moz-calc(1% - 1px);
    width: -webkit-calc(1% - 1px);
    width: -o-calc(1% - 1px);
    width: calc(1% - 1px);
    */
    height:10px;
    background-color: rgba(0,0,0,0);
    &:hover{
      cursor:pointer;
    }
  }
}
.generate-image{
    .donate-overlay{
        .donate-box{
            border-right:1px solid #ddd;
            border-top:1px solid #ddd;
        }
    }
}

.tooltipster-content {
  padding:0 !important;
  margin:0;
  max-width:200px;
  img{
    width:100%;
    margin:0;
    padding:0;
  }
}
.minicolors-swatch-color{
  background-color: $green;
}