.container-gray{
  margin:25px 0;
  background-color: #f0f0f0;
}
.padding-top{
  padding-top:15px;
}
.padding-bottom{
  padding-bottom:15px;
}
.breadcrumb {    
	padding: 8px 15px;
    margin-bottom: 21px;
    list-style: none;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    & > li {
	    display: inline-block;
	}
	& > .active {
	    color: #333333;
	}
	> li + li:before {
	    content: "/\00a0";
	    padding: 0 5px;
	    color: #999999;
	}
}
p.small{
  font-size:14px;
  font-weight:300;
}
.clickable-row:hover{
  cursor:pointer;
}