body, html{ overflow-x:hidden; }
.container-gray{
  margin-top:25px;
  background-color: #f0f0f0;
}
.padding-top{
  padding-top:15px;
}
.padding-bottom{
  padding-bottom:15px;
}
.breadcrumb {    
	padding: 8px 15px;
    margin-bottom: 21px;
    list-style: none;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    & > li {
	    display: inline-block;
	}
	& > .active {
	    color: #333333;
	}
	> li + li:before {
	    content: "/\00a0";
	    padding: 0 5px;
	    color: #999999;
	}
}
p.small{
  font-size:14px;
  font-weight:300;
}
.clickable-row:hover{
  cursor:pointer;
}
.navbar-toggle{
  position: relative;
  padding: 20px 0;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}
.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}
.container{
  img{
    max-width:100%;
  }
}
.brand-logo{
  img{
    width:125px;
  }
}
.nav-primary{
  margin-left:125px;
}
footer.page-footer{
      background-color: #4fad2f;
}
.default-media{
  display:inline-block;
  padding: 25px;
  &:hover{
    cursor:pointer;
    background-color:#f9f9f9;
  }
  &.active{
    background-color:#e0e0e0;
    border:1px solid #ccc;
    border-radius:10px;
  }
}