h2{
  font-size:38px;
  font-weight:600;
}
.page-title{
  margin-top: 65px;
}
h4{
  font-weight: 300;
}
main{
  padding-left:240px;
}
nav{
  background-color: $green;
}
ul.side-nav.fixed li.logo{
  line-height: 44px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ddd;
  &:hover{
    background: transparent;
  }
  a{
    min-height:64px;
    height:auto;
  }
  img{
    width:100px;
  }
}
input.form-control-inline{
  width:125px;
  font-size:2.6rem;
}
input[type=number]{
  text-align:center;
}
.tabs{
  background-color: transparent;
  .tab a,
  .tab a.active{
    color: $green;
  }
}

.tabs .indicator{
  /* something weird is going on with defaulting the indicator */
  width: 33%;
  left:33%;
  background-color: $green;
}
.tab-content .file-field{
  display: inline-block;
}
.callout{
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-left-color:#4CAF50;
  border-radius: 3px;
}
table.striped.highlight > tbody > tr:nth-child(odd):hover{
  background-color:#e9e9e9;
}
.icon-bar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background-color: #fff;
  +.icon-bar {
    margin-top: 4px;
  }
}
.white-text a {
    color: #fff;
}