.user{
  .donate-box{
    &:hover{
      background-color: rgba(0,0,0,0.25);
      border-right:1px solid transparent;
      border-top:1px solid transparent;
    }
    &.chosen{
      background-color: $green;
      border-right:1px solid transparent;
      border-top:1px solid transparent;
      &:after{
        content: '';
        position:relative;
        display: block;
     
        left: 5px;
        width: 3px;
        height: 6px;
     
        border: solid #FFFFFF;
        border-width: 0 2px 2px 0;
     
        transform: rotate(45deg);
      }
    }
    &.taken{
      border-right:1px solid transparent;
      border-top:1px solid transparent;
      &.no-image{
        background-color: $green;
      }
      &:hover{
        cursor: default;
      }
    }
    &.invisible,
    &.invisible:hover{
      cursor: default;
      background-color: rgba(0,0,0,0);
      border-right: 1px transparent solid;
      border-top: 1px transparent solid;
    }
  }
  .card-wrapper{
    margin-bottom:10px;
  }
}
.user-thanks{
  .donate-box{
    &:hover{
      cursor:default;
    }
    &.taken{
      background-color: rgba(0,0,0,0.35);
      border-right:1px solid transparent;
      border-top:1px solid transparent;
    }
    &.invisible,
    &.invisible:hover{
      cursor: default;
      background-color: rgba(0,0,0,0);
      border-right: 1px transparent solid;
      border-top: 1px transparent solid;
    }
  }
}
.tabs{
  background-color: transparent;
  .tab a{
    color: $green;
  }
}

.tabs .indicator{
  /* something weird is going on with defaulting the indicator */
  width: 33%;
  left:33%;
  background-color: $green;
}
.thumbnail{
  width:200px;
  height:150px;
  &.left{
    margin-right: 15px;
  }
}
.tab-content{
  min-height:200px;
}